In [1]:
import pandas as pd
import numpy as np
from measurement_import import PingImport, TracerouteImport

import warnings
warnings.filterwarnings('ignore')

In [8]:
ping_import = PingImport()
df_ping = ping_import.read_dataset('measurement_data/ping-measurement_1.json')
df_ping

,probe_id,created,rtt_min,rtt_average,packets_sent,packets_received
0,6025,2021-06-07 00:02:11+00:00,149.195256,149.218,3,3
1,6030,2021-06-07 00:02:21+00:00,166.409528,166.576,3,3
2,6031,2021-06-07 00:02:22+00:00,149.048305,149.319,3,3
3,6039,2021-06-07 00:02:21+00:00,170.077631,170.098,3,3
4,6041,2021-06-07 00:02:17+00:00,173.588153,173.648,3,3
...,...,...,...,...,...,...
678089,7006,2021-06-09 23:58:21+00:00,147.811359,147.874,3,3
678090,7007,2021-06-09 23:58:17+00:00,208.128699,208.156,3,3
678091,7008,2021-06-09 23:58:09+00:00,162.276314,162.362,3,3
678092,7009,2021-06-09 23:58:08+00:00,219.913387,219.927,3,3
678093,7010,2021-06-09 23:58:11+00:00,179.858721,179.901,3,3

In [4]:
traceroute_import = TracerouteImport()
df_traceroute = traceroute_import.convert_dataset('measurement_data/small_traceroute_1.json')
df_traceroute

,probe_id,created,total_hops,last_rtt_average,hops
0,1000014,2021-12-10 12:28:52+00:00,7,36.6820,"{1: {'from': '185.162.183.206', 'as_nummer': N..."
1,1000597,2021-12-10 12:28:53+00:00,11,17.3420,"{1: {'from': '185.197.135.1', 'as_nummer': Non..."
2,102,2021-12-10 12:28:52+00:00,9,6.7215,"{1: {'from': '193.63.209.29', 'as_nummer': Non..."
3,105,2021-12-10 12:28:54+00:00,7,65.0995,"{1: {'from': '192.168.200.1', 'as_nummer': Non..."
4,13337,2021-12-10 12:28:54+00:00,12,39.6900,"{1: {'from': '10.0.1.1', 'as_nummer': None, 'm..."
5,14207,2021-12-10 12:28:52+00:00,11,20.4550,"{1: {'from': '10.0.1.1', 'as_nummer': None, 'm..."
6,16930,2021-12-10 12:28:52+00:00,7,22.3585,"{1: {'from': '10.1.14.1', 'as_nummer': None, '..."
7,18214,2021-12-10 12:28:53+00:00,7,15.1170,"{1: {'from': '192.168.36.1', 'as_nummer': None..."
8,20189,2021-12-10 12:28:52+00:00,8,29.4645,"{1: {'from': '192.168.0.1', 'as_nummer': None,..."
9,23666,2021-12-10 12:28:53+00:00,20,26.2690,"{1: {'from': '185.163.185.249', 'as_nummer': N..."
10,27255,2021-12-10 12:28:53+00:00,4,44.4150,"{1: {'from': '192.168.0.1', 'as_nummer': None,..."
11,33557,2021-12-10 12:28:53+00:00,12,35.3860,"{1: {'from': '10.10.10.1', 'as_nummer': None, ..."
12,34217,2021-12-10 12:28:52+00:00,8,12.7855,"{1: {'from': '192.168.1.1', 'as_nummer': None,..."
13,50384,2021-12-10 12:28:54+00:00,9,27.1940,"{1: {'from': '192.168.3.1', 'as_nummer': None,..."
14,50836,2021-12-10 12:28:52+00:00,9,13.6230,"{1: {'from': '192.168.0.254', 'as_nummer': Non..."
15,55,2021-12-10 12:28:52+00:00,6,27.4720,"{1: {'from': '81.187.145.129', 'as_nummer': No..."
16,55279,2021-12-10 12:28:52+00:00,12,25.1290,"{1: {'from': '10.5.0.1', 'as_nummer': None, 'm..."
17,6200,2021-12-10 12:28:52+00:00,5,10.4920,"{1: {'from': '193.242.111.194', 'as_nummer': N..."
18,6693,2021-12-10 12:28:53+00:00,10,22.3250,"{1: {'from': '172.31.1.1', 'as_nummer': None, ..."
19,6840,2021-12-10 12:28:56+00:00,11,67.0610,"{1: {'from': '80.67.184.81', 'as_nummer': None..."
20,91,2021-12-10 12:28:52+00:00,11,20.7050,"{1: {'from': '192.168.1.254', 'as_nummer': Non..."
21,95,2021-12-10 12:28:53+00:00,7,29.4515,"{1: {'from': '192.168.101.128', 'as_nummer': N..."

In [9]:
test = "212.187.195.170"
print(test[:7])

212.187