In [1]:
import pandas as pd
import numpy as np
from measurement_import import PingImport, TracerouteImport

import warnings
warnings.filterwarnings('ignore')

%load_ext autoreload
%autoreload

In [2]:
ping_import = PingImport()
df_ping = ping_import.read_dataset('measurement_data/ping-measurement_1.json')
df_ping

,probe_id,created,rtt_min,rtt_average,packets_sent,packets_received
0,6025,2021-06-07 00:02:11+00:00,149.195256,149.218,3,3
1,6030,2021-06-07 00:02:21+00:00,166.409528,166.576,3,3
2,6031,2021-06-07 00:02:22+00:00,149.048305,149.319,3,3
3,6039,2021-06-07 00:02:21+00:00,170.077631,170.098,3,3
4,6041,2021-06-07 00:02:17+00:00,173.588153,173.648,3,3
...,...,...,...,...,...,...
678089,7006,2021-06-09 23:58:21+00:00,147.811359,147.874,3,3
678090,7007,2021-06-09 23:58:17+00:00,208.128699,208.156,3,3
678091,7008,2021-06-09 23:58:09+00:00,162.276314,162.362,3,3
678092,7009,2021-06-09 23:58:08+00:00,219.913387,219.927,3,3
678093,7010,2021-06-09 23:58:11+00:00,179.858721,179.901,3,3

In [4]:
traceroute_import = TracerouteImport()
df_traceroute = traceroute_import.read_dataset('measurement_data/traceroute_1.json')
df_traceroute

,probe_id,created,total_hops,last_rtt_average,pre_entry_hop_min_rtt,pre_entry_hop_mean_rtt,pre_entry_hop_ip
0,6086,2021-06-07 00:08:58+00:00,23,245.963,244.963,244.96,52.93.237.232
1,6111,2021-06-07 00:08:57+00:00,16,176.827,193.770,129.41,15.230.28.55
2,6245,2021-06-07 00:08:57+00:00,26,171.303,172.030,172.91,72.21.222.17
3,6246,2021-06-07 00:08:57+00:00,19,158.977,162.143,162.15,52.93.237.214
4,6250,2021-06-07 00:08:58+00:00,20,159.602,159.861,160.27,205.251.229.158
...,...,...,...,...,...,...,...
203796,7006,2021-06-09 23:54:13+00:00,19,148.533,148.567,148.58,52.93.237.238
203797,7007,2021-06-09 23:54:10+00:00,19,194.523,198.357,198.40,52.93.237.236
203798,7008,2021-06-09 23:54:03+00:00,30,158.580,159.133,159.95,205.251.229.158
203799,7009,2021-06-09 23:54:13+00:00,16,214.279,220.674,220.82,128.242.179.50
203800,7010,2021-06-09 23:54:07+00:00,20,176.151,188.732,189.28,205.251.229.158